{% extends 'libapp/layout.html' %}

{% block title %}
    Welcome to Library Mgmt
{% endblock %}

{% block content %}
    {% if message %}
        <p class="success">
            {{ message }}
        </p>
    {% endif %}
    {% if error %}
        <p class="error">
            {{ error }}
        </p>
    {% endif %}
    <h2>Authenticate here!</h2>
    <form action="{% url 'libapp:login' %}" method="POST" novalidate="novalidate">
        {% csrf_token %}
        <!-- <p>
            <input type="text" name="username" placeholder="Enter Username">
        </p>
        <p>
            <input type="password" name="password" placeholder="Enter Password">
        </p> -->
        {{ form.as_p }}
        <p>
            <input type="submit" value="Login">
            <a href="{% url 'libapp:register' %}">New user ? Sign Up</a>
        </p>
    </form>
    <a href="{% url 'libapp:contactus' %}">Contact us</a>
{% endblock %}